<form action="/api/create" method="POST">
  Name:<br>
  <input type="text" name="name" placeholder="Enter Name"><br>
  City From:<br>
  <input type="text" name="cityFrom" placeholder="Hometown"><br>
  URL:<br>
  <input type="text" name="url" placeholder="Enter URL"><br>
  Classes Taught:<br>
  <input type="text" name="classesTaught" placeholder="Classes Taught"><br>
  Year Started:<br>
  <input type="text" name="yearStarted" placeholder="Year Stared"><br>

  <input type="submit" value="Save Prof">
</form>
